/* Styles for the card container */
.card-datos {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin: 30px 50px;
  padding: 15px;
  border-radius: 10px;
  background-color: whitesmoke;
  border: 1px solid black;
}

/* Media query for screens wider than 576px */
@media (min-width: 576px) {
  .card-datos {
    margin: 100px 50px;
  }
}

/* Styles for the icon, title, and data elements within the card */
.card-datos__icono,
.card-datos__title,
.card-datos__datos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.card-datos__icono {
  width: 5rem;
  font-size: 2rem;
  color: var(--primary-color);
}

/* Media query for screens wider than 576px */
@media (min-width: 576px) {
  .card-datos__icono {
    font-size: 3rem;
  }
}

.card-datos__title {
  font-size: 1.5rem;
  display: none;
}

/* Media query for screens wider than 576px */
@media (min-width: 576px) {
  .card-datos__title {
    display: block;
  }
}

.card-datos__datos {
  display: none;
}

.card-datos__elipsis {
  display: block;
}

/* Media query for screens wider than 576px */
@media (min-width: 576px) {
  .card-datos__datos {
    display: block;
  }
  .card-datos__elipsis {
    display: none;
  }
}
