.cotizacion {
  background-color: var(--ps-light-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-datos {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: 100px 50px;
  padding: 15px;
  border-radius: 10px;
  background-color: whitesmoke;
  border: 1px black solid;
}
@media (width > 600px) {
  .card-datos {
    flex-direction: row;
  }
}

.card-datos__icono,
.card-datos__title,
.card-datos__datos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.card-datos__icono {
  font-size: 3rem;
  color: var(--primary-color);
}

.card-datos__title {
  font-size: 1.5rem;
}

.promociones {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Add this to center the cards horizontally */
  align-items: center;
}

.control-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 1rem;
}

.control-buttons__button {
  background-color: var(--ps-grey);
  color: white;
  border: 1px darkgray solid;
  border-radius: 3px;
  padding: 10px 5px;
  min-width: 190px;
  font-size: 1.1rem;
  font-weight: 600;
}
