/* Cotizacion Section */
.cotizacion {
  background-color: var(--ps-light-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Promociones Container */
.promociones {
  display: none;
  flex-direction: row;
  justify-content: center; /* Center the cards horizontally */
  align-items: center;
}
.promociones-mobile {
  width: 100vw; /* Set width to 100% of the viewport width */
}

/* Media Query for Screens with Width >= 992px */
@media (width >= 992px) {
  .promociones {
    display: flex; /* Show the promociones container as flex */
  }
  .promociones-mobile {
    display: none; /* Hide the promociones-mobile container */
  }
}

/* Control Buttons */
.control-buttons {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 1rem;
}
.control-buttons--mobile {
  display: flex; /* Show the control buttons in mobile view */
}

/* Media Query for Screens with Width > 992px */
@media (width > 992px) {
  .control-buttons {
    display: flex; /* Show the control buttons */
  }
  .control-buttons--mobile {
    display: none; /* Hide the control buttons in mobile view */
  }
}

/* Control Buttons - Button */
.control-buttons__button {
  background-color: var(--ps-grey);
  color: white;
  border: 1px darkgray solid;
  border-radius: 3px;
  padding: 10px 5px;
  min-width: 130px;
  font-size: 1.1rem;
  font-weight: 600;
}

/* Media Query for Screens with Width > 576px */
@media (width > 576px) {
  .control-buttons__button {
    min-width: 190px; /* Adjust the minimum width of the buttons */
  }
}

.numero-telefono {
  font-size: 1.5rem;
  color: var(--primary-color);
  font-weight: 600;
}
