.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 30px;
  background-color: var(--primary-color);
}

.header__brand {
  max-width: 100%;
  max-height: 90%;
}

.header__telephone-number {
  color: white;
  font-size: 1rem;
  font-weight: bold;
}
