.picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  padding: 5px 10px 10px 5px;
  box-sizing: border-box;
}
@media (width > 360px) {
  .picker {
    padding: 10px 20px 10px 20px;
  }
}
@media (width > 576px) {
  .picker {
    padding: 15px 30px 30px 15px;
  }
}

.picker__title {
  text-align: center;
  font-weight: 400;
  color: gray;
  font-size: 1.5rem;
  margin-top: 0px 5px 0px 5px;
  max-width: fit-content;
}
@media (width > 576px) {
  .picker__title {
    font-size: 2.5rem;
    margin-top: 0px 10px 0px 10px;
  }
}

.picker__options-wrapper {
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (width > 576px) {
  .picker__options-wrapper {
    width: 20rem;
  }
}
.picker__option {
  box-sizing: border-box; /*Make the element adjust its size to the parent wrapper*/
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 7px;
  padding: 10px 10px;
  margin: 2px 30px;
  font-size: 1rem;
}
@media (width > 576px) {
  .picker__option {
    font-size: 1.5rem;
  }
}

.picker__icon {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 1rem;
  width: 1.4rem;
  margin-left: 5px;
}
.picker__icon i {
  font-size: 1.2rem;
}

@media (width > 576px) {
  .picker__icon {
    font-size: 1.5rem;
  }
}
.picker__name {
  color: white;
  margin-left: 10px;
}
