/* ******************************************************** */
/* || Tooltip https://www.w3schools.com/css/css_tooltip.asp */
/* This is a modified version
/* ******************************************************** */
.tooltip {
  position: relative;
  height: 100%; /*Make the div the full height, to displat the tooltip text box at the correct height*/
}

/* Tooltip text */
.tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  padding: 5px 0;

  /*Position the tooltip text relative to the tooltip*/
  position: absolute;
  z-index: 99;
}
.tooltip-text--top {
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}
.tooltip-text--left {
  top: -5px;
  right: 130%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-text {
  visibility: visible;
}

/*Bottom Arrow */
.tooltip .tooltip-text--top::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

/*Right arrow*/
.tooltip .tooltip-text--left::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%; /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}
